



.topNavigation {
  width: 97.7%;
  background: #be3144;
  color: white;
  margin-bottom: 0%;
 
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
}


.about, 
.work, 
.contact {
  color: rgb(245, 245, 247);
  font-size: x-large;
  width: 150px;
  padding-inline: 20px;
}

.front {
  height: 800px;
  background-color: #000;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  margin-top: 0%;

}

.mainPage {
  color: white;
  font-size: 70px;
  font-family: raleway, sans-serif;
  text-align: center;
  padding-top: 180px;
}
 

.below{
  color: white;
}

.para1{
  font:size 50px;
  align-content: center;
  font-style: italic;
  color: #be3144;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.para2{
  font:size 50px;
  align-content: center;
  font-style: italic;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

.projects {
  height: 800px;
  background-color: rgb(42, 84, 147);
  text-align: center;
  padding:1rem;
  font-family: 'Raleway', sans-serif;
}

.proList {
  width: 300px;
  display: inline-block;
  
}

.tribute {
  width: 300px;
  display: block;
}

.footer_portfolio {
  height: 300px;
  background-color: rgb(50, 50, 50);
  text-align: center;
  padding:1rem;
  font-family: 'Raleway', sans-serif;
}